// @require 'rupture' // nice media-queries framework

@require './includes/vars'                   // Переменные
@require './includes/utils'                  // Доп-инструментарий
@require './includes/vendor/*'               // Вендорский css
@require './includes/global'                 // Общие стили
@require './includes/fonts'                  // Шрифты

// Блоки
@require './includes/blocks/header'          // Шапка
@require './includes/blocks/footer'          // Футер
@require './includes/blocks/site-search'     // Поиск в шапке
@require './includes/blocks/index-slider'    // Слайдер на главной
@require './includes/blocks/index-catalog'   // Каталог на главной
@require './includes/blocks/big-btn'         // Большая кнопка
@require './includes/blocks/top-offscreen'   //
@require './includes/blocks/feedback'        //
@require './includes/blocks/small-catalog'   //
@require './includes/blocks/category-lead'   //
@require './includes/blocks/catalog-list'    //
@require './includes/blocks/page'            //
@require './includes/blocks/product-page'    //
@require './includes/blocks/product-slider'  //
@require './includes/blocks/fourofour'       //
@require './includes/blocks/feedback'        //

// // Блоки внутренних страниц
@require './includes/misc'                   // Прочее
