@require 'rupture' // nice media-queries framework

@require './includes/vars'                   // Переменные
@require './includes/utils'                  // Доп-инструментарий
@require './includes/vendor/*'               // Вендорский css
@require './includes/global'                 // Общие стили
@require './includes/grid'                   // Сетка
@require './includes/fonts'                  // Шрифты

// Блоки
@require './includes/blocks/header'          // Шапка
@require './includes/blocks/header-buttons'  // Поиск, выбор языка, кнопка мобильного меню
@require './includes/blocks/full-menu'       // Развернутое главное меню
@require './includes/blocks/aside-menu'      // Боковое меню (оно же мобильное)
@require './includes/blocks/footer'          // Подвал
@require './includes/blocks/spbgu-portal'    // Портал СПБГУ в подвале

// Виджеты. Используются как в сайдбаре так и в теле страницы
@require './includes/blocks/events-widget'   // Виджет Событий
@require './includes/blocks/notice-widget'   // Виджет объявлений
@require './includes/blocks/news-widget'     // Виджет Новостей
 
 
// Блоки для главной 
@require './includes/blocks/intro'           // Основной блок на главной

// Страницы 
@require './includes/pages/index'            // Главная
@require './includes/pages/page'             // Общие стили внутренних страниц
@require './includes/pages/contacts'         // Стили страницы контактов
 
// Блоки внутренних страниц 
@require './includes/blocks/breadcrumbs'     //  Хлебные крошки
@require './includes/blocks/person-card'     //  Карточка с Био 
@require './includes/blocks/staff-card'      //  Карточка персонала
@require './includes/blocks/common-slider'   //  Слайдер с фото
@require './includes/blocks/common-table'    //  Стандартная таблица
@require './includes/blocks/common-form'     //  Стандартная форма
@require './includes/blocks/common-search'   //  Поиск в теле страницы
@require './includes/blocks/common-tabs'     //  Стили Табов
@require './includes/blocks/spotlight'       //  Главная новость
@require './includes/blocks/articles-filter' //  Фильтр новостей и событий
@require './includes/blocks/cafedra'         //  Блок кафедры
@require './includes/blocks/persons-filter'  //  Блок филтра по персонам
@require './includes/blocks/pagination'      
@require './includes/misc'                   // Прочее
