.fac-place
  border-bottom 1px solid gray3
  margin-bottom rem(40)


#embedded-map
  width 100%
  height rem(450)
  +below(sm)
    height rem(250)

.contacts
  &__corp
    margin-bottom rem(40)
  &__table
    border-bottom 1px solid gray3
  &__lead
    font-size rem(18)
    font-weight 500
    border-bottom 1px solid gray3
    padding-bottom rem(20)
    margin-top rem(20)
    margin-bottom rem(20)
    letter-spacing rem(.5)
  &__name
    font-size rem(18)
  &__job
    // font-size rem(12)
    // font-weight 400
    margin-bottom rem(-15)
    +below(sm)
      margin-bottom 0
  
    
  .gm-style-cc
    display none!important