.aside-menu
  background gray6
  z-index: 1000
  color white
  font-family: font-sans
  padding rem(20)
  &.mobile-menu
    padding-right rem(30)
    font-size: rem(15)
    padding-top rem(60)
    padding-bottom 0
    position: fixed
    top 0
    right 0
    bottom 0
    width rem(500)
    transform translate3d(100%,0,0)
    transform translate(100%,0)
    transition transform .5s cubic-bezier(0.86, 0, 0.07, 1);
    .mobile-menu--open &
      transform translate(0,0)
      transform translate3d(0,0,0)
    +below(700px)
      width 100%
  a:link
    color white
    &:hover
        color gray3
  .current a
    color light-blue
  &__header
    margin-bottom rem(20)
    // padding-right 10
    position relative
    .aside-menu__link
      font-weight: 500
      display block
      position relative
      padding-right rem(20)
      line-height 1.3
      &:hover
        color gray3
    i
      position absolute
      right 0
      top rem(0)
      transform rotate(0)
      transition transform .3s, top .3s
      transform-origin 50% 60%
      svg 
        width rem(15)
        height rem(10)
        path
          stroke white
    a[aria-expanded=true] i
      transform rotate(180deg)
  &__item
    margin-bottom rem(20)
  &__link
    color white
    font-weight: 300
    line-height 1.3
    .aside-menu__header &
      font-weight: 500
      // padding-left rem(10)
  .panel
    background: none
    margin 0
    border none
    box-shadow none
    border-radius none
  &__close
    position: fixed
    right rem(30)
    top rem(20)  
    svg
      width rem(15)
      height rem(15)
    +below(xs)
      // right rem(30)
      // top rem(20)  
  &-shade
    position fixed
    top 0
    left 0
    right 0
    bottom 0
    background black
    opacity 0
    visibility hidden
    z-index -1
    transition opacity .5s
    .mobile-menu--open &
      opacity 0.5
      visibility visible
      z-index 500
  &__shortcuts
    text-transform: uppercase
    margin rem(30) rem(-30) rem(10) rem(-20)
    padding rem(30)
    padding-left rem(20)
    
    border-top rem(1.5) solid gray3
    font-size: rem(12)
  &__shortcut
    color white
    display block
    margin-bottom rem(20)
    
    
    