.products
  &__product
    text-align center
    margin-bottom 10px
    padding 15px

    &:hover
      outline 2px solid #D8D8D8
      .products__title
        color #333

  &__thumb-wrap
    height: 200px
    display: flex
    align-items: center
    text-align: center
    justify-content: center
  &__thumb
    width auto
    max-width 100%
    max-height 215px

  &__title
    margin-top 15px
    font-size 20px
    padding 0 15px
    // height 80px
    // overflow hidden