.category-lead
  background lightgray
  padding 40px
  margin-bottom 80px
  &__title
    margin-top 0
    margin-bottom 10px
    font-size 30px
    color orange
    font-style normal
    text-align left
  &__content
    font-size 18px
  &__icon
    text-align center
    display flex
    align-items center
    justify-content center
    svg
      width 70%
      height auto
      max-height 150px
      display inline-block
      vertical-align middle
  &--alt
    margin-bottom: 40px