.feedback
  // width: 100%
  height: 498px
  padding: 10px 20px
  background: orange
  position: absolute
  right: 0
  top: 110px
  z-index: 1000
  color: white
  transform translate(100%, 0)
  transform translate3d(100%, 0, 0)
  transition: transform .5s ease-in-out
  border-radius: 10px 0 0 10px
  &.open
    transform: translate(0, 0)
    transform: translate3d(0, 0, 0)
    position: fixed
  &__label
    line-height: 40px
    font-size: 24px
    padding: 0 40px
    background: orange
    position: absolute
    top: 215px
    left: -137px
    border-radius: 20px 20px 0 0
    transform: rotate(-90deg)
    cursor: pointer
    background: orange
    &:after
      content:""
      width:16px
      height:16px
      top:14px
      right:14px
      position: absolute
      background: orange url('../images/common/close.svg')
      background-size: cover
      background-repeat: no-repeat
      opacity: 0
      transition: opacity .3s ease-in-out
      .open &
        opacity: 1
  &__inner
    position: relative
    padding rem(20) rem(10)
    &__label
      font-size: 30px
      font-weight: 500
  &__close
    position: absolute
    right: 15px
    top: 25px
    svg
      width: 26px
      height: 26px

  &__form
    padding-top: 5px
    ::-webkit-input-placeholder       {color: darkgray}
    ::-moz-placeholder                {color: darkgray}
    :-moz-placeholder                 {color: darkgray}
    :-ms-input-placeholder            {color: darkgray}
    .wpcf7-form-control-wrap
      position: relative
    .wpcf7-not-valid-tip
      color: white
      font-weight: 500
      position: absolute
      top: 27px
    .wpcf7-response-output
      display: none!important

    .ajax-loader
      width: 16px
      height: 16px
  input[type='text']
  input[type='email']
  input[type='submit']
  textarea
    background: #FFF
    padding: rem(5) rem(15)
    width: 100%
    color: darkgray
    border-radius: 3px
    margin-bottom: 30px
  input[type='submit']
    width: auto
  textarea
    resize: none
