// footer
.footer
  margin-top: 40px
  background: lightgray
  padding rem(25)
  border-bottom rem(30) solid orange
  font-weight: 500
  font-size: rem(18)
  .footer__icon svg
    width rem(38)
    height rem(38)
    path
      fill: darkgray

  &__inner
    position: relative
  &__scroll-top
    cursor: pointer
    position: absolute
    top: -40px
    right: 0