// footer
.footer
  background: lightgray
  padding rem(25)
  border-bottom rem(30) solid orange
  font-weight: 500
  font-size: rem(18)
  svg
    width rem(38)
    height rem(38)
    path
      fill darkgray

