.four-o-four
  &__header
    padding-top rem(50)
    font-size rem(100)
  &__content
    font-size rem(30)
  &__link
    padding-left rem(30)
    padding-right rem(30)
    display block
    margin 0 auto rem(50)