.full-menu
  max-height 0
  overflow hidden
  transition max-height .5s ease-in-out
  background gray6
  font-size rem(15)
  color white
  z-index 10
  +below(md)
    display none
  &--open
    max-height: rem(500);
  &__tab-pane
    background gray6
    color white
    opacity 0
    visibility hidden
    max-height 0
    overflow hidden
    // height 200px
    transition opacity .5s ease-in-out
    &.active
      padding rem(40) rem(25)
      opacity 1
      visibility visible
      max-height rem(500)
  &__item
    margin-bottom rem(10)
    &:last-child
      margin-bottom 0
    &__link
      color white
      font-family font-sans
    &.current a
      color light-blue
  &__featured
    display block
    color white
    &__header
      text-transform uppercase
      color inherit
      
      
    &__image
      padding-left 0
    