.header
  background orange
  a
    color white
  &__inner
    padding rem(20) 0

  &__logo
    float left
  &__buttons
    float right
    // display flex
    // align-items center
    // height rem(70)

  svg
    padding rem(2)
  &__catalog
  &__contacts
  &__addresses
    margin-top rem(10)
    display: inline-block
    margin-left rem(15)
    vertical-align: top
  &__catalog
    font-size: rem(35)
    font-weight: 500
    margin-top rem(7)


