.header
  background orange
  a
    color white
    &:hover
      color lightgray
  &__inner
    padding rem(5) rem(12) rem(5) rem(10)
  &__logo
    float left
    svg
      width rem(140)
      height rem(42)
  &__buttons
    float right

  svg
    padding rem(2)
  &__phone
  &__catalog
  &__contacts
  &__addresses
    margin-top rem(10)
    display inline-block
    margin-left rem(15)
    vertical-align top
    svg
      width rem(32)
      height rem(32)
  &__catalog
    font-size rem(26)
    font-weight 500
    margin-top rem(5)
  &__phone
    font-weight 700
    font-size rem(17)
    margin-top rem(14)
    margin-right rem(20)


.search-and-nav
  padding-top rem(10)
  padding-bottom rem(10)

.site-search__field
  padding-left rem(10)
  width 100%
.toggle-offcanvas.open path
  fill darkgray

.breadcrumbs
  font-size rem(18)
  font-weight 500
  line-height: rem(29)
  a
    transition color .2s
    &:hover
      color orange