.index-slider
  background lightgray
  padding rem(30) 0 rem(50) 0
  margin-bottom rem(20)

  &__inner
    position relative
  &__content
    min-height: rem(420)
    &.owl-carousel
      min-height: inherit
    position relative
    > a
      position: absolute
      top 0
      left 0
  &__slide
    background white
    min-height rem(300)
  //
  &__prev-btn
  &__next-btn
    position absolute
    top 50%
    z-index 1
    margin-top rem(-60)
    cursor pointer
    &:hover path
      stroke
  &__next-btn
    right rem(45)
  &__prev-btn
    left rem(45)
    transform rotate(180deg)

