.pagination
  margin-bottom rem(10)
  width 100%
  text-align center
  .big-btn
    width rem(250)
    display inline-block
    +below(600px)
      width rem(94)
  &__link
    margin-bottom rem(10)
    display: inline-block
    font-family: font-sans
    font-size: rem(20)
    font-weight 500
    padding rem(5) rem(10)
    transition background .3s, border-color .3s
    letter-spacing rem(.8)
    &.current
    &:hover
    &:active
    &:focus
      color gray6
      background light-blue
      border-color light-blue