.person-card
  background gray1
  padding rem(60)
  margin-bottom rem(20)
  +below(sm)
    padding rem(25)
  +below(xs)
    padding rem(15)
    margin 0 rem(-15)
  &__lead
    text-transform uppercase
    font-weight 500
    font-size rem(13)
  &__years
    font-size rem(20)
  &__years
  &__lead
  &__image
    padding-bottom rem(20)
  &__image
    padding-right rem(20)
