.page__content .persons-filter
  text-transform uppercase
  font-size rem(12)
  &__header a
    display block
    text-align center
    text-transform uppercase
    line-height rem(42)
    font-weight bold
    color gray6
    transition background-color .3s
    background gray1
    &:hover
    &[aria-expanded=true]
      background-color orange
      border none
      color gray6
    svg path
      stroke gray6 
  ul
  li
    padding 0
    margin 0
    text-align center
    &:before
      display none
  &__panel
  //   // margin-bottom rem(30)
  //   +below(md)
  //     margin-bottom rem(40)
  //   +below(sm)
  //     margin-bottom rem(30)
  //   +below(xs)
  //     margin-bottom rem(20)
    border 0
    border-radius 0
    box-shadow none
    height 100%
    margin-bottom 0
    
    
  &__link
    display block
    padding rem(14) rem(20)
    font-weight 400
    transition background .3s
    color gray6
    &:hover
    &--current
      background-color gray2
      color inherit
      
.abc-filter
  margin-top rem(40)
  &__letter
    font-size rem(28)
    color gray6
    display inline-block
    margin rem(4)
    width rem(44)
    padding rem(2)
    border-radius 50%
    font-family font-serif
    text-align center
    transition background-color .3s
    &:hover
    &--current
      color gray6
      background-color orange
      
