
.product
  position relative
  &__nav
    display flex
    position absolute
    width 98%
    justify-content space-between
    &__prev
    &__next
      display flex
      align-items center
      font-size rem(13)
      font-weight 500
      flex-direction row
      align-content center
      line-height rem(13)
      text-align right
      span, i
        display inline-block
      i
        margin-top rem(2)
    svg
      margin-left rem(5)
      path
        stroke-width 1.5
        stroke orange
        fill none
    &__prev
      text-align left
      svg
        margin-left rem(0)
        margin-right rem(5)
        transform rotate(180deg)
        transform-origin center
  &__lead
    margin-bottom rem(50)
  &__title
    font-weight 500
    font-size rem(44)
    color orange
    line-height 1
    text-align center
    margin-bottom rem(20)
  &__image
    display flex
    border 3px solid #EEEEEE
    align-items center
    justify-content center
    padding rem(20)
    img
      width auto!important
      max-width 95%
      height rem(220)
  &__mod-info
    // margin-bottom rem(10)
    &__title
      font-weight 700
      margin-bottom rem(5)
  &__mod-info
  &__info
    padding rem(12)
    background lightgray
  &__info--single
    margin-left rem(12)

  &__description
    width 100%
    &__title
      font-size rem(30)
    &__content
      font-size rem(18)
      padding-left rem(20)
.hardware
  width 100%
  margin-bottom rem(20)
  &__title
    display block
    background orange
    color white
    font-style italic
    line-height rem(40)
    font-size rem(26)
    text-align center
    margin-bottom rem(10)
  &__top-cat
    &__name
      margin-bottom rem(7)
      padding-left rem(20)
      background lightgray
      font-size rem(20)
      line-height rem(35)
      // a
      //   .hardware__top-cat.active &
      //     pointer-events none

      svg
        transition transform .3s ease-in-out
        transform rotate(0deg)
        transform-origin center
        width rem(12)
        height rem(16)
        .hardware__top-cat.active &
          transform rotate(90deg)

  &__tabs
    padding-left rem(20)
    margin-bottom rem(20)

  &__tab
    margin-bottom rem(5)
    display block
    font-size rem(18)
    font-weight 400
    li.active &
      color orange
  &__item
    margin-bottom rem(10)
    &__title
      text-align center
      font-weight 400
      font-size rem(18)
      margin-top 2px
    &__thumb
      height rem(200)
      width auto
      display flex
      align-items center
      justify-content center
      img
        max-height 100%
        width auto
      #materials &
        height rem(110)
        width 100%
  &__pane
    display none
    &.active
      display flex

