.product
  &__lead
    margin-bottom rem(50)
  &__title
    font-weight 500
    font-size rem(48)
    color orange
    line-height 1
    text-align center
    margin-bottom rem(20)
  &__image
    display flex
    border 3px solid #EEEEEE
    align-items center
    justify-content center
    padding rem(20)
    img
      width auto!important
      height auto
      max-height rem(400)
  &__mod-info
    margin-bottom rem(10)
    &__title
      font-weight 700
      margin-bottom rem(5)
  &__mod-info
  &__info
    padding rem(12)
    background lightgray
  &__info--single
    margin-left rem(12)

.hardware
  width 100%
  &__title
    display block
    background orange
    color white
    font-style italic
    line-height rem(60)
    font-size rem(40)
    text-align center
    margin-bottom rem(10)
  &__top-cat
    &__name
      margin-bottom rem(7)
      padding-left rem(20)
      background lightgray
      font-size rem(28)
      line-height rem(50)
  &__tabs
    padding-left rem(20)
    margin-bottom rem(20)
  &__tab
    margin-bottom rem(5)
    display block
    font-size rem(20)
    font-weight 500
  &__item
    &__title
      text-align center
      font-weight 500
      font-size rem(18)
    // &__thumb
  &__pane
    display none
    &.active
      display flex