.site-search
  background: lightgray
  border-radius rem(20)
  line-height rem(32)
  position: relative
  height: 32px
  &__submit
    position: absolute
    top 0
    right 0
    width rem(42)
    height rem(30)
    background: url(../images/common/search.svg) no-repeat
    background-size rem(20)
    background-position: 50% 50%
