.small-catalog
  text-align center
  background lightgray
  padding rem(18) 0 0
  margin-bottom 62px
  position relative
  &__item
    display inline-block
    padding-bottom 14px
    border-bottom 3px solid transparent
    margin-bottom -3px
    svg
      max-height rem(62)
      max-width rem(120)
    &.current
    &:hover
      svg
        g
        path
          stroke orange
        .dot
          fill orange
          stroke none
    &:hover
      border-color orange
  &__icon--small svg
    max-width rem(70)

  &__title
    position absolute
    display none
    color orange
    text-align center
    font-size 22px
    font-weight 500
    width 100%
    left 0
    // width 200px
    // max-width 200px
    white-space nowrap
    top 115px
    // transform translate(-50%,0)
    // left 0px
    .small-catalog__item:hover &
      display block