.spbgu-portal
  // width rem(300)
  position absolute
  background gray1
  left rem(30)
  width rem(400)
  bottom 0
  // padding rem(20) 0 rem(0)
  font-family font-sans
  font-size rem(14)
  transform translate(0,100%)
  transform translate3d(0,100%,0)
  transition transform .5s, opacity .5s, visibility .5s
  transition-timing-function cubic-bezier(0.86, 0, 0.07, 1);
  text-transform uppercase
  font-weight 500
  color gray4
  +below(460px)
    width auto
    right 0
    left 0
    font-size rem(12)
    position fixed
    opacity 0
    visibility hidden
    &.visible
      opacity 1
      visibility visible
    .touch &.open
      top rem(43)

  // .no-touch &:hover
  &.open
    transform translate(0,0)
    transform translate3d(0,0,0)
  &__accordion
    padding-top rem(20)
    max-height: 100%;
    // overflow-y scroll
  
  &__header
    margin-bottom rem(5)
    padding 0 rem(20)
    font-weight 700
    a
      display block
      position relative
      i
        position absolute
        right 0
        transform rotate(0)
        transition transform .3s, width .3s
      &[aria-expanded=true] i
        transform rotate(180deg)
  &__item
    padding rem(10) rem(20) 0
    &:first-child
      padding-top 0
  &__link
    line-height 1.3
    display block
    text-transform initial
  &__list
    max-height rem(300)
    overflow hidden
    display block
    position: relative
    .ps-scrollbar-y
      background-color: gray4!important
      // top 0!important
  &__label
    font-weight 900
    top rem(-43)
    width 100%
    left 0
    position absolute
    background blue
    color white
    padding rem(14) rem(22)
    cursor pointer
    i
      transition transform .5s, top .5s
      transform rotate(180deg)
      position absolute
      top rem(14)
      right rem(20)
      path
        stroke white 
      .open &
      // .no-touch .spbgu-portal:hover &
        top rem(10)
        transform rotate(0deg)
  &__panel
    background none
    border none
    border-radius 0
    box-shadow none
    border-bottom 1px solid rgba(155, 155, 155, 0.4)
    padding-bottom rem(10)
    margin-bottom rem(15)
  &__social-links
    display table
    // border-top 1px solid rgba(155, 155, 155, 0.4)
    padding rem(15) rem(20)
    margin-top rem(15)
    width 100%
  &__social-item
    display table-cell
    padding 0 rem(10)
    &:first-child
      padding-left 0
    &:last-child
      padding-right 0
    +below(xs)
      font-size rem(9)
      padding 0 rem(5)
      
  &__search
    button-size = rem(44)
    button-size-sm = rem(44)
    height button-size
    background: white
    position relative
    margin-top rem(20)
    // margin-bottom rem(10)
    &__input
      white-space nowrap
      line-height 1.5
      padding rem(10) rem(20)
      width 80%
      font-family font-sans
      font-weight 200
      font-size rem(14)
      color gray6
      margin-top rem(1)
      &::-webkit-input-placeholder
        color gray6
      &::-moz-placeholder
        color gray6
      &:-ms-input-placeholder
        color gray6    
      &:-webkit-autofill
        box-shadow: 0 0 0px 1000px white inset
      input[type="search"]&
        -webkit-appearance: none;
        -webkit-border-radius: 0px;
    &__icon svg g
        stroke gray3
        transition stroke .3s
    &__icon
    &__submit
      right rem(10)
      top 0
      position absolute
      height button-size
      width button-size
      padding-top rem(8)
      line-height: button-size
      cursor: pointer;
    &__submit
      background: #fff;
      opacity: 0;
      color: transparent;
      border: none;
      outline: none;
      z-index: 1;