.staff-card
  a
    display block
  &__name
    line-height: 1.3
    display:table-caption;
  &__job
    margin-top rem(10)
    margin-bottom rem(10)
    text-transform: uppercase
    font-size: rem(11)
    line-height: 1.5
  &__email
    color gray6!important
    font-weight: 500