.clearfix:after,
.cf:after,
.clearfix:before,
.cf:before {
  content: " ";
  display: table;
}
.clearfix:after,
.cf:after {
  clear: both;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.no-paddings {
  padding: 0 !important;
}
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}
.row {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}
.row.reverse {
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.col.reverse {
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-offset-1,
.col-xs-offset-2,
.col-xs-offset-3,
.col-xs-offset-4,
.col-xs-offset-5,
.col-xs-offset-6,
.col-xs-offset-7,
.col-xs-offset-8,
.col-xs-offset-9,
.col-xs-offset-10,
.col-xs-offset-11,
.col-xs-offset-12 {
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.col-xs {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  max-width: 100%;
}
.col-xs-1 {
  -webkit-flex-basis: 8.333%;
      -ms-flex-preferred-size: 8.333%;
          flex-basis: 8.333%;
  max-width: 8.333%;
}
.col-xs-2 {
  -webkit-flex-basis: 16.667%;
      -ms-flex-preferred-size: 16.667%;
          flex-basis: 16.667%;
  max-width: 16.667%;
}
.col-xs-3 {
  -webkit-flex-basis: 25%;
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%;
  max-width: 25%;
}
.col-xs-4 {
  -webkit-flex-basis: 33.333%;
      -ms-flex-preferred-size: 33.333%;
          flex-basis: 33.333%;
  max-width: 33.333%;
}
.col-xs-5 {
  -webkit-flex-basis: 41.667%;
      -ms-flex-preferred-size: 41.667%;
          flex-basis: 41.667%;
  max-width: 41.667%;
}
.col-xs-6 {
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
  max-width: 50%;
}
.col-xs-7 {
  -webkit-flex-basis: 58.333%;
      -ms-flex-preferred-size: 58.333%;
          flex-basis: 58.333%;
  max-width: 58.333%;
}
.col-xs-8 {
  -webkit-flex-basis: 66.667%;
      -ms-flex-preferred-size: 66.667%;
          flex-basis: 66.667%;
  max-width: 66.667%;
}
.col-xs-9 {
  -webkit-flex-basis: 75%;
      -ms-flex-preferred-size: 75%;
          flex-basis: 75%;
  max-width: 75%;
}
.col-xs-10 {
  -webkit-flex-basis: 83.333%;
      -ms-flex-preferred-size: 83.333%;
          flex-basis: 83.333%;
  max-width: 83.333%;
}
.col-xs-11 {
  -webkit-flex-basis: 91.667%;
      -ms-flex-preferred-size: 91.667%;
          flex-basis: 91.667%;
  max-width: 91.667%;
}
.col-xs-12 {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  max-width: 100%;
}
.col-xs-offset-1 {
  margin-left: 8.333%;
}
.col-xs-offset-2 {
  margin-left: 16.667%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-4 {
  margin-left: 33.333%;
}
.col-xs-offset-5 {
  margin-left: 41.667%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-7 {
  margin-left: 58.333%;
}
.col-xs-offset-8 {
  margin-left: 66.667%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-10 {
  margin-left: 83.333%;
}
.col-xs-offset-11 {
  margin-left: 91.667%;
}
.start-xs {
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: start;
}
.center-xs {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.end-xs {
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: end;
}
.top-xs {
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.middle-xs {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.bottom-xs {
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.around-xs {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.between-xs {
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.first-xs {
  -webkit-order: -1;
      -ms-flex-order: -1;
          order: -1;
}
.last-xs {
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}
@media only screen and (min-width: 864px) {
  .col-sm,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-offset-1,
  .col-sm-offset-2,
  .col-sm-offset-3,
  .col-sm-offset-4,
  .col-sm-offset-5,
  .col-sm-offset-6,
  .col-sm-offset-7,
  .col-sm-offset-8,
  .col-sm-offset-9,
  .col-sm-offset-10,
  .col-sm-offset-11,
  .col-sm-offset-12 {
    box-sizing: border-box;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .col-sm {
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    max-width: 100%;
  }
  .col-sm-1 {
    -webkit-flex-basis: 8.333%;
        -ms-flex-preferred-size: 8.333%;
            flex-basis: 8.333%;
    max-width: 8.333%;
  }
  .col-sm-2 {
    -webkit-flex-basis: 16.667%;
        -ms-flex-preferred-size: 16.667%;
            flex-basis: 16.667%;
    max-width: 16.667%;
  }
  .col-sm-3 {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -webkit-flex-basis: 33.333%;
        -ms-flex-preferred-size: 33.333%;
            flex-basis: 33.333%;
    max-width: 33.333%;
  }
  .col-sm-5 {
    -webkit-flex-basis: 41.667%;
        -ms-flex-preferred-size: 41.667%;
            flex-basis: 41.667%;
    max-width: 41.667%;
  }
  .col-sm-6 {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -webkit-flex-basis: 58.333%;
        -ms-flex-preferred-size: 58.333%;
            flex-basis: 58.333%;
    max-width: 58.333%;
  }
  .col-sm-8 {
    -webkit-flex-basis: 66.667%;
        -ms-flex-preferred-size: 66.667%;
            flex-basis: 66.667%;
    max-width: 66.667%;
  }
  .col-sm-9 {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -webkit-flex-basis: 83.333%;
        -ms-flex-preferred-size: 83.333%;
            flex-basis: 83.333%;
    max-width: 83.333%;
  }
  .col-sm-11 {
    -webkit-flex-basis: 91.667%;
        -ms-flex-preferred-size: 91.667%;
            flex-basis: 91.667%;
    max-width: 91.667%;
  }
  .col-sm-12 {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%;
  }
  .col-sm-offset-1 {
    margin-left: 8.333%;
  }
  .col-sm-offset-2 {
    margin-left: 16.667%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-4 {
    margin-left: 33.333%;
  }
  .col-sm-offset-5 {
    margin-left: 41.667%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-7 {
    margin-left: 58.333%;
  }
  .col-sm-offset-8 {
    margin-left: 66.667%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-10 {
    margin-left: 83.333%;
  }
  .col-sm-offset-11 {
    margin-left: 91.667%;
  }
  .start-sm {
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: start;
  }
  .center-sm {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .end-sm {
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-align: end;
  }
  .top-sm {
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .middle-sm {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bottom-sm {
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .around-sm {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  .between-sm {
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .first-sm {
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
  }
  .last-sm {
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media only screen and (min-width: 1116px) {
  .col-md,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-offset-1,
  .col-md-offset-2,
  .col-md-offset-3,
  .col-md-offset-4,
  .col-md-offset-5,
  .col-md-offset-6,
  .col-md-offset-7,
  .col-md-offset-8,
  .col-md-offset-9,
  .col-md-offset-10,
  .col-md-offset-11,
  .col-md-offset-12 {
    box-sizing: border-box;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .col-md {
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    max-width: 100%;
  }
  .col-md-1 {
    -webkit-flex-basis: 8.333%;
        -ms-flex-preferred-size: 8.333%;
            flex-basis: 8.333%;
    max-width: 8.333%;
  }
  .col-md-2 {
    -webkit-flex-basis: 16.667%;
        -ms-flex-preferred-size: 16.667%;
            flex-basis: 16.667%;
    max-width: 16.667%;
  }
  .col-md-3 {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -webkit-flex-basis: 33.333%;
        -ms-flex-preferred-size: 33.333%;
            flex-basis: 33.333%;
    max-width: 33.333%;
  }
  .col-md-5 {
    -webkit-flex-basis: 41.667%;
        -ms-flex-preferred-size: 41.667%;
            flex-basis: 41.667%;
    max-width: 41.667%;
  }
  .col-md-6 {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -webkit-flex-basis: 58.333%;
        -ms-flex-preferred-size: 58.333%;
            flex-basis: 58.333%;
    max-width: 58.333%;
  }
  .col-md-8 {
    -webkit-flex-basis: 66.667%;
        -ms-flex-preferred-size: 66.667%;
            flex-basis: 66.667%;
    max-width: 66.667%;
  }
  .col-md-9 {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -webkit-flex-basis: 83.333%;
        -ms-flex-preferred-size: 83.333%;
            flex-basis: 83.333%;
    max-width: 83.333%;
  }
  .col-md-11 {
    -webkit-flex-basis: 91.667%;
        -ms-flex-preferred-size: 91.667%;
            flex-basis: 91.667%;
    max-width: 91.667%;
  }
  .col-md-12 {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%;
  }
  .col-md-offset-1 {
    margin-left: 8.333%;
  }
  .col-md-offset-2 {
    margin-left: 16.667%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-4 {
    margin-left: 33.333%;
  }
  .col-md-offset-5 {
    margin-left: 41.667%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-7 {
    margin-left: 58.333%;
  }
  .col-md-offset-8 {
    margin-left: 66.667%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-10 {
    margin-left: 83.333%;
  }
  .col-md-offset-11 {
    margin-left: 91.667%;
  }
  .start-md {
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: start;
  }
  .center-md {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .end-md {
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-align: end;
  }
  .top-md {
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .middle-md {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bottom-md {
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .around-md {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  .between-md {
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .first-md {
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
  }
  .last-md {
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media only screen and (min-width: 1350px) {
  .col-lg,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-offset-1,
  .col-lg-offset-2,
  .col-lg-offset-3,
  .col-lg-offset-4,
  .col-lg-offset-5,
  .col-lg-offset-6,
  .col-lg-offset-7,
  .col-lg-offset-8,
  .col-lg-offset-9,
  .col-lg-offset-10,
  .col-lg-offset-11,
  .col-lg-offset-12 {
    box-sizing: border-box;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .col-lg {
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    max-width: 100%;
  }
  .col-lg-1 {
    -webkit-flex-basis: 8.333%;
        -ms-flex-preferred-size: 8.333%;
            flex-basis: 8.333%;
    max-width: 8.333%;
  }
  .col-lg-2 {
    -webkit-flex-basis: 16.667%;
        -ms-flex-preferred-size: 16.667%;
            flex-basis: 16.667%;
    max-width: 16.667%;
  }
  .col-lg-3 {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -webkit-flex-basis: 33.333%;
        -ms-flex-preferred-size: 33.333%;
            flex-basis: 33.333%;
    max-width: 33.333%;
  }
  .col-lg-5 {
    -webkit-flex-basis: 41.667%;
        -ms-flex-preferred-size: 41.667%;
            flex-basis: 41.667%;
    max-width: 41.667%;
  }
  .col-lg-6 {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -webkit-flex-basis: 58.333%;
        -ms-flex-preferred-size: 58.333%;
            flex-basis: 58.333%;
    max-width: 58.333%;
  }
  .col-lg-8 {
    -webkit-flex-basis: 66.667%;
        -ms-flex-preferred-size: 66.667%;
            flex-basis: 66.667%;
    max-width: 66.667%;
  }
  .col-lg-9 {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -webkit-flex-basis: 83.333%;
        -ms-flex-preferred-size: 83.333%;
            flex-basis: 83.333%;
    max-width: 83.333%;
  }
  .col-lg-11 {
    -webkit-flex-basis: 91.667%;
        -ms-flex-preferred-size: 91.667%;
            flex-basis: 91.667%;
    max-width: 91.667%;
  }
  .col-lg-12 {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%;
  }
  .col-lg-offset-1 {
    margin-left: 8.333%;
  }
  .col-lg-offset-2 {
    margin-left: 16.667%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-4 {
    margin-left: 33.333%;
  }
  .col-lg-offset-5 {
    margin-left: 41.667%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-7 {
    margin-left: 58.333%;
  }
  .col-lg-offset-8 {
    margin-left: 66.667%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-10 {
    margin-left: 83.333%;
  }
  .col-lg-offset-11 {
    margin-left: 91.667%;
  }
  .start-lg {
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: start;
  }
  .center-lg {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .end-lg {
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-align: end;
  }
  .top-lg {
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .middle-lg {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bottom-lg {
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .around-lg {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  .between-lg {
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .first-lg {
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
  }
  .last-lg {
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
}
/* normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield; /* 1 */ /* 2 */
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
*,
*:after,
*::before {
  box-sizing: border-box;
}
html,
body,
.st-container,
.st-pusher,
.st-content {
  height: 100%;
}
.st-content {
  overflow-y: scroll;
  background: #f3efe0;
}
.st-content,
.st-content-inner {
  position: relative;
  z-index: 100;
}
.st-container {
  position: relative;
  overflow: hidden;
}
.st-pusher {
  position: relative;
  left: 0;
  z-index: 99;
  height: 100%;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
.st-pusher::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  background: rgba(0,0,0,0.2);
  content: '';
  opacity: 0;
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}
.st-menu-open .st-pusher::after {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.5s;
}
.st-menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  visibility: hidden;
  width: 300px;
  height: 100%;
  background: #48a770;
  transition: all 0.5s;
}
.st-menu::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
  content: '';
  opacity: 1;
  transition: opacity 0.5s;
}
.st-menu-open .st-menu::after {
  width: 0;
  height: 0;
  opacity: 0;
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}
.st-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.st-menu h2 {
  margin: 0;
  padding: 1em;
  color: rgba(0,0,0,0.4);
  text-shadow: 0 0 1px rgba(0,0,0,0.1);
  font-weight: 300;
  font-size: 2em;
}
.st-menu ul li a {
  display: block;
  padding: 1em 1em 1em 1.2em;
  outline: none;
  box-shadow: inset 0 -1px rgba(0,0,0,0.2);
  color: #f3efe0;
  text-transform: uppercase;
  text-shadow: 0 0 1px rgba(255,255,255,0.1);
  letter-spacing: 1px;
  font-weight: 400;
  transition: background 0.3s, box-shadow 0.3s;
}
.st-menu ul li:first-child a {
  box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
}
.st-menu ul li a:hover {
  background: rgba(0,0,0,0.2);
  box-shadow: inset 0 -1px rgba(0,0,0,0);
  color: #fff;
}
.st-effect-1.st-menu {
  visibility: visible;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.st-effect-1.st-menu-open .st-effect-1.st-menu {
  visibility: visible;
  -webkit-transform: translate3d(-100, 0, 0);
  transform: translate3d(-100, 0, 0);
}
.st-effect-1.st-menu::after {
  display: none;
}
.st-effect-2.st-menu-open .st-pusher {
  -webkit-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0);
}
.st-effect-2.st-menu {
  z-index: 1;
}
.st-effect-2.st-menu-open .st-effect-2.st-menu {
  visibility: visible;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
.st-effect-2.st-menu::after {
  display: none;
}
.st-effect-3.st-menu-open .st-pusher {
  -webkit-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0);
}
.st-effect-3.st-menu {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.st-effect-3.st-menu-open .st-effect-3.st-menu {
  visibility: visible;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
.st-effect-3.st-menu::after {
  display: none;
}
.st-effect-4.st-menu-open .st-pusher {
  -webkit-transform: translate3d(-300px, 0, 0);
}
.st-effect-4.st-menu {
  z-index: 1 !important;
  -webkit-transform: translate3d(50%, 0, 0);
          transform: translate3d(50%, 0, 0);
}
.st-effect-4.st-menu-open .st-effect-4.st-menu {
  visibility: visible;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(300px, 0, 0);
}
.st-effect-4.st-menu::after {
  display: none;
}
.st-effect-5.st-menu-open .st-pusher {
  -webkit-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0);
}
.st-effect-5.st-menu {
  z-index: 1;
  -webkit-transform: translate3d(50%, 0, 0);
  transform: translate3d(50%, 0, 0);
}
.st-effect-5.st-menu-open .st-effect-5.st-menu {
  visibility: visible;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.st-effect-6.st-container {
  -webkit-perspective: 1500px;
  perspective: 1500px;
}
.st-effect-6 .st-pusher {
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
      transform-origin: 0% 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.st-effect-6.st-menu-open .st-pusher {
  -webkit-transform: translate3d(300px, 0, 0) rotateY(-15deg);
  transform: translate3d(300px, 0, 0) rotateY(-15deg);
}
.st-effect-6.st-menu {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
      transform-origin: 100% 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.st-effect-6.st-menu-open .st-effect-6.st-menu {
  visibility: visible;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: translate3d(-100%, 0, 0) rotateY(15deg);
  transform: translate3d(-100%, 0, 0) rotateY(15deg);
}
.st-effect-6.st-menu::after {
  display: none;
}
.st-effect-7.st-container {
  -webkit-perspective: 1500px;
  perspective: 1500px;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
}
.st-effect-7 .st-pusher {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.st-effect-7.st-menu-open .st-pusher {
  -webkit-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0);
}
.st-effect-7.st-menu {
  -webkit-transform: translate3d(-100%, 0, 0) rotateY(-90deg);
  transform: translate3d(-100%, 0, 0) rotateY(-90deg);
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
      transform-origin: 100% 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.st-effect-7.st-menu-open .st-effect-7.st-menu {
  visibility: visible;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: translate3d(-100%, 0, 0) rotateY(0deg);
  transform: translate3d(-100%, 0, 0) rotateY(0deg);
}
.st-effect-8.st-container {
  -webkit-perspective: 1500px;
  perspective: 1500px;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
}
.st-effect-8 .st-pusher {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.st-effect-8.st-menu-open .st-pusher {
  -webkit-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0);
}
.st-effect-8.st-menu {
  -webkit-transform: translate3d(-100%, 0, 0) rotateY(90deg);
  transform: translate3d(-100%, 0, 0) rotateY(90deg);
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
      transform-origin: 100% 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.st-effect-8.st-menu-open .st-effect-8.st-menu {
  visibility: visible;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: translate3d(-100%, 0, 0) rotateY(0deg);
  transform: translate3d(-100%, 0, 0) rotateY(0deg);
}
.st-effect-8.st-menu::after {
  display: none;
}
.st-effect-9.st-container {
  -webkit-perspective: 1500px;
  perspective: 1500px;
}
.st-effect-9 .st-pusher {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.st-effect-9.st-menu-open .st-pusher {
  -webkit-transform: translate3d(0, 0, -300px);
  transform: translate3d(0, 0, -300px);
}
.st-effect-9.st-menu {
  opacity: 1;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.st-effect-9.st-menu-open .st-effect-9.st-menu {
  visibility: visible;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.st-effect-9.st-menu::after {
  display: none;
}
.st-effect-10.st-container {
  -webkit-perspective: 1500px;
  perspective: 1500px;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
}
.st-effect-10.st-menu-open .st-pusher {
  -webkit-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0);
}
.st-effect-10.st-menu {
  z-index: 1;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, -300px);
  transform: translate3d(0, 0, -300px);
}
.st-effect-10.st-menu-open .st-effect-10.st-menu {
  visibility: visible;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.st-effect-11.st-container {
  -webkit-perspective: 1500px;
  perspective: 1500px;
}
.st-effect-11 .st-pusher {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.st-effect-11.st-menu-open .st-pusher {
  -webkit-transform: translate3d(100px, 0, -600px) rotateY(-20deg);
  transform: translate3d(100px, 0, -600px) rotateY(-20deg);
}
.st-effect-11.st-menu {
  opacity: 1;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.st-effect-11.st-menu-open .st-effect-11.st-menu {
  visibility: visible;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.st-effect-11.st-menu::after {
  display: none;
}
.st-effect-12.st-container {
  -webkit-perspective: 1500px;
  perspective: 1500px;
}
.st-effect-12 .st-pusher {
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
      transform-origin: 100% 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.st-effect-12.st-menu-open .st-pusher {
  -webkit-transform: rotateY(-10deg);
  transform: rotateY(-10deg);
}
.st-effect-12.st-menu {
  opacity: 1;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.st-effect-12.st-menu-open .st-effect-12.st-menu {
  visibility: visible;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.st-effect-12.st-menu::after {
  display: none;
}
.st-effect-13.st-container {
  -webkit-perspective: 1500px;
  perspective: 1500px;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
}
.st-effect-13.st-menu-open .st-pusher {
  -webkit-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0);
}
.st-effect-13.st-menu {
  z-index: 1;
  opacity: 1;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
.st-effect-13.st-menu-open .st-effect-13.st-menu {
  visibility: visible;
  transition-timing-function: ease-in-out;
  transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-speed: 0.2s;
  transition-speed: 0.2s;
}
.st-effect-14.st-container {
  -webkit-perspective: 1500px;
  perspective: 1500px;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
}
.st-effect-14 .st-pusher {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.st-effect-14.st-menu-open .st-pusher {
  -webkit-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0);
}
.st-effect-14.st-menu {
  -webkit-transform: translate3d(-100%, 0, 0) rotateY(90deg);
  transform: translate3d(-100%, 0, 0) rotateY(90deg);
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
      transform-origin: 0% 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.st-effect-14.st-menu-open .st-effect-14.st-menu {
  visibility: visible;
  transition-delay: 0.1s;
  transition-timing-function: ease-in-out;
  transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transform: translate3d(-100%, 0, 0) rotateY(0deg);
  transform: translate3d(-100%, 0, 0) rotateY(0deg);
}
.no-csstransforms3d .st-pusher,
.no-js .st-pusher {
  padding-left: 300px;
}
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.owl-height {
  transition: height 500ms ease-in-out;
}
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
/* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
/* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel .owl-refresh .owl-item {
  display: none;
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}
.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}
.no-js .owl-carousel {
  display: block;
}
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item img {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.owl-dots {
  position: absolute;
  bottom: -2.5rem;
  text-align: center;
  margin-top: 1.25rem;
  width: 100%;
}
.owl-dot {
  width: 1rem;
  height: 1rem;
  background: #fff;
  margin: 0 0.625rem;
  border-radius: 50%;
  display: inline-block;
}
.owl-dot.active {
  background: #ff881a;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
button,
input,
strong,
small,
em {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
}
b {
  font-weight: inherit;
}
i {
  font-style: inherit;
}
ul,
ol,
li {
  display: block;
}
hr {
  border-color: #eee;
}
a {
  text-decoration: none;
  outline: none;
  color: #333;
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
}
a:link,
a:focus {
  outline: none;
  text-decoration: none;
}
p {
  margin-bottom: 1.5em;
}
button,
input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none;
  box-shadow: none;
}
html {
  font-family: sans-serif;
  box-sizing: border-box;
  font-size: 16px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
img {
  max-width: 100%;
  width: 100%;
}
body {
  font-family: "Futura PT", Helvetica, Arial, Sans-serif;
  background: #fff;
  color: #333;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
}
.container {
  width: 71.25rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}
.page-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1.25rem;
}
svg {
  padding: 2px;
}
@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/hinted-FuturaPT-Bold.eot");
  src: url("../fonts/hinted-FuturaPT-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/hinted-FuturaPT-Bold.woff2") format('woff2'), url("../fonts/hinted-FuturaPT-Bold.woff") format('woff'), url("../fonts/hinted-FuturaPT-Bold.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/hinted-FuturaPT-Medium.eot");
  src: url("../fonts/hinted-FuturaPT-Medium.eot?#iefix") format('embedded-opentype'), url("../fonts/hinted-FuturaPT-Medium.woff2") format('woff2'), url("../fonts/hinted-FuturaPT-Medium.woff") format('woff'), url("../fonts/hinted-FuturaPT-Medium.ttf") format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/hinted-FuturaPT-Book.eot");
  src: url("../fonts/hinted-FuturaPT-Book.eot?#iefix") format('embedded-opentype'), url("../fonts/hinted-FuturaPT-Book.woff2") format('woff2'), url("../fonts/hinted-FuturaPT-Book.woff") format('woff'), url("../fonts/hinted-FuturaPT-Book.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.header {
  background: #ff881a;
}
.header a {
  color: #fff;
}
.header a:hover {
  color: #eee;
}
.header__inner {
  padding: 0.3125rem 0.75rem 0.3125rem 0.625rem;
}
.header__logo {
  float: left;
}
.header__logo svg {
  width: 8.75rem;
  height: 2.625rem;
}
.header__buttons {
  float: right;
}
.header svg {
  padding: 0.125rem;
}
.header__phone,
.header__catalog,
.header__contacts,
.header__addresses {
  margin-top: 0.625rem;
  display: inline-block;
  margin-left: 0.9375rem;
  vertical-align: top;
}
.header__phone svg,
.header__catalog svg,
.header__contacts svg,
.header__addresses svg {
  width: 2rem;
  height: 2rem;
}
.header__catalog {
  font-size: 1.625rem;
  font-weight: 500;
  margin-top: 0.3125rem;
}
.header__phone {
  font-weight: 700;
  font-size: 1.0625rem;
  margin-top: 0.875rem;
  margin-right: 1.25rem;
}
.search-and-nav {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}
.site-search__field {
  padding-left: 0.625rem;
  width: 100%;
}
.toggle-offcanvas.open path {
  fill: #333;
}
.breadcrumbs {
  font-size: 1.375rem;
  font-weight: 500;
}
.footer {
  margin-top: 40px;
  background: #eee;
  padding: 1.5625rem;
  border-bottom: 1.875rem solid #ff881a;
  font-weight: 500;
  font-size: 1.125rem;
}
.footer .footer__icon svg {
  width: 2.375rem;
  height: 2.375rem;
}
.footer .footer__icon svg path {
  fill: #333;
}
.footer__inner {
  position: relative;
}
.footer__scroll-top {
  cursor: pointer;
  position: absolute;
  top: -40px;
  right: 0;
}
.site-search {
  background: #eee;
  border-radius: 1.25rem;
  line-height: 2rem;
  position: relative;
  height: 32px;
}
.site-search__submit {
  position: absolute;
  top: 0;
  right: 0;
  width: 2.625rem;
  height: 1.875rem;
  background: url("../images/common/search.svg") no-repeat;
  background-size: 1.25rem;
  background-position: 50% 50%;
}
.index-slider {
  background: #eee;
  padding: 1.875rem 0 3.125rem 0;
  margin-bottom: 1.25rem;
}
.index-slider__inner {
  position: relative;
}
.index-slider__content {
  position: relative;
}
.index-slider__slide {
  background: #fff;
  min-height: 18.75rem;
}
.index-slider__prev-btn,
.index-slider__next-btn {
  position: absolute;
  top: 50%;
  z-index: 1;
  margin-top: -3.75rem;
  cursor: pointer;
}
.index-slider__next-btn {
  right: 2.8125rem;
}
.index-slider__prev-btn {
  left: 2.8125rem;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.index-catalog {
  text-align: center;
  margin: 0 auto;
}
.index-catalog__description {
  margin: 5rem auto 5rem;
  text-align: justify;
  max-width: 43.75rem;
  font-size: 1.125rem;
}
.index-category {
  margin-bottom: 1.25rem;
  min-height: 17rem;
  max-height: 17rem;
}
.index-category__inner {
  background: #eee;
  padding: 1.875rem 0.625rem 1.25rem;
}
.index-category:hover .index-category__inner {
  background: #fff;
}
.index-category__title {
  font-size: 1.125rem;
  font-weight: 500;
  margin-top: 1.25rem;
  line-height: 2rem;
  height: 4rem;
  overflow: hidden;
}
.index-category:hover .index-category__title {
  color: #ff881a;
}
.index-category:hover g,
.index-category:hover path {
  stroke: #ff881a;
}
.index-category:hover .dot,
.index-category:hover circle:not(.not),
.index-category:hover ellipse:not(.not) {
  fill: #ff881a;
  stroke: none;
}
.big-btn {
  background: #ff881a;
  width: 14.375rem;
  border-radius: 0.25rem;
  color: #fff;
  padding: 0.3125rem 0.9375rem 0.625rem;
  font-weight: 500;
  font-size: 1.875rem;
  transition: background 0.3s ease-in-out;
}
.big-btn:hover {
  background: #fe9636;
}
.top-offscreen {
  background: #fff;
  text-align: center;
}
.top-offscreen.open {
  z-index: 1000000 !important;
}
.top-offscreen__inner {
  padding: 2.5rem 0;
}
.top-offscreen--phones .top-offscreen__inner {
  max-width: 56.25rem;
}
.top-offscreen__icon path {
  fill: #333;
}
.top-offscreen__header {
  font-size: 2rem;
}
.top-offscreen__text {
  font-size: 1.125rem;
  font-weight: 500;
}
.top-offscreen--phones .top-offscreen__text {
  padding: 1.25rem 0 0;
  line-height: 2.5rem;
}
.top-offscreen__img {
  padding: 2.5rem 1.875rem 0rem;
}
.feedback {
  height: 498px;
  padding: 10px 20px;
  background: #ff881a;
  position: absolute;
  right: 0;
  top: 110px;
  z-index: 1000;
  color: #fff;
  -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
          transform: translate(100%, 0);
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  border-radius: 10px 0 0 10px;
}
.feedback.open {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  position: fixed;
}
.feedback__label {
  line-height: 40px;
  font-size: 24px;
  padding: 0 40px;
  background: #ff881a;
  position: absolute;
  top: 215px;
  left: -137px;
  border-radius: 20px 20px 0 0;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  cursor: pointer;
  background: #ff881a;
}
.feedback__label:after {
  content: "";
  width: 16px;
  height: 16px;
  top: 14px;
  right: 14px;
  position: absolute;
  background: #ff881a url("../images/common/close.svg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.open .feedback__label:after {
  opacity: 1;
}
.feedback__inner {
  position: relative;
  padding: 1.25rem 0.625rem;
}
.feedback__inner__label {
  font-size: 30px;
  font-weight: 500;
}
.feedback__close {
  position: absolute;
  right: 15px;
  top: 25px;
}
.feedback__close svg {
  width: 26px;
  height: 26px;
}
.feedback__form {
  padding-top: 5px;
}
.feedback__form ::-webkit-input-placeholder {
  color: #333;
}
.feedback__form ::-moz-placeholder {
  color: #333;
}
.feedback__form :-moz-placeholder {
  color: #333;
}
.feedback__form :-ms-input-placeholder {
  color: #333;
}
.feedback__form .wpcf7-form-control-wrap {
  position: relative;
}
.feedback__form .wpcf7-not-valid-tip {
  color: #fff;
  font-weight: 500;
  position: absolute;
  top: 27px;
}
.feedback__form .wpcf7-response-output {
  display: none !important;
}
.feedback__form .ajax-loader {
  width: 16px;
  height: 16px;
}
.feedback input[type='text'],
.feedback input[type='email'],
.feedback input[type='submit'],
.feedback textarea {
  background: #fff;
  padding: 0.3125rem 0.9375rem;
  width: 100%;
  color: #333;
  border-radius: 3px;
  margin-bottom: 30px;
}
.feedback input[type='submit'] {
  width: auto;
}
.feedback textarea {
  resize: none;
}
.small-catalog {
  width: 100%;
  text-align: center;
  background: #eee;
  padding: 1.125rem 0 0;
  margin-bottom: 62px;
  position: relative;
}
.small-catalog__inner {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.small-catalog__item {
  display: inline-block;
  padding-bottom: 14px;
  border-bottom: 3px solid transparent;
  margin-bottom: -3px;
}
.small-catalog__item svg {
  max-height: 3.875rem;
  max-width: 7.5rem;
}
.small-catalog__item.current svg g,
.small-catalog__item:hover svg g,
.small-catalog__item.current svg path,
.small-catalog__item:hover svg path {
  stroke: #ff881a;
}
.small-catalog__item.current svg .dot,
.small-catalog__item:hover svg .dot {
  fill: #ff881a;
  stroke: none;
}
.small-catalog__item.current svg circle:not(.not),
.small-catalog__item:hover svg circle:not(.not),
.small-catalog__item.current svg ellipse:not(.not),
.small-catalog__item:hover svg ellipse:not(.not) {
  fill: #ff881a;
  stroke: none;
}
.small-catalog__item:hover {
  border-color: #ff881a;
}
.small-catalog__icon--small svg {
  max-width: 4.375rem;
}
.small-catalog__title {
  position: absolute;
  display: none;
  color: #ff881a;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  width: 100%;
  left: 0;
  white-space: nowrap;
  top: 115px;
}
.small-catalog__item:hover .small-catalog__title {
  display: block;
}
.category-lead {
  background: #eee;
  padding: 40px;
  margin-bottom: 80px;
}
.category-lead__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 30px;
  color: #ff881a;
  font-style: normal;
  text-align: left;
}
.category-lead__content {
  font-size: 18px;
}
.category-lead__icon {
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.category-lead__icon svg {
  width: 70%;
  height: auto;
  max-height: 150px;
  display: inline-block;
  vertical-align: middle;
}
.category-lead--alt {
  margin-bottom: 40px;
}
.products__product {
  text-align: center;
  margin-bottom: 10px;
  padding: 15px;
}
.products__product:hover {
  outline: 2px solid #d8d8d8;
}
.products__product:hover .products__title {
  color: #333;
}
.products__thumb-wrap {
  height: 200px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.products__thumb {
  width: auto;
  max-width: 100%;
  max-height: 215px;
}
.products__title {
  margin-top: 15px;
  font-size: 20px;
}
.product {
  position: relative;
}
.product__nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 98%;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.product__nav__prev,
.product__nav__next {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8125rem;
  font-weight: 500;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  line-height: 0.8125rem;
  text-align: right;
}
.product__nav__prev span,
.product__nav__next span,
.product__nav__prev i,
.product__nav__next i {
  display: inline-block;
}
.product__nav__prev i,
.product__nav__next i {
  margin-top: 0.125rem;
}
.product__nav svg {
  margin-left: 0.3125rem;
}
.product__nav svg path {
  stroke-width: 1.5;
  stroke: #ff881a;
  fill: none;
}
.product__nav__prev {
  text-align: left;
}
.product__nav__prev svg {
  margin-left: 0rem;
  margin-right: 0.3125rem;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}
.product__lead {
  margin-bottom: 3.125rem;
}
.product__title {
  font-weight: 500;
  font-size: 2.75rem;
  color: #ff881a;
  line-height: 1;
  text-align: center;
  margin-bottom: 1.25rem;
}
.product__image {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: 3px solid #eee;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.25rem;
}
.product__image img {
  width: auto !important;
  max-width: 100%;
  height: 13.75rem;
}
.product__mod-info__title {
  font-weight: 700;
  margin-bottom: 0.3125rem;
}
.product__mod-info,
.product__info {
  padding: 0.75rem;
  background: #eee;
}
.product__info--single {
  margin-left: 0.75rem;
}
.product__info-tabs {
  width: 100%;
  padding: 0 10px;
}
.product__info-tab {
  background: #eee;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1.25rem;
}
.product__info-tab:first-child {
  border-radius: 20px 0 0 20px;
  border-right: 1px solid #fff;
}
.product__info-tab:last-child {
  border-left: 1px solid #fff;
  border-radius: 0 20px 20px 0;
}
.product__info-tab.single {
  border-radius: 0;
}
.product__info-tab.single a {
  pointer-events: none;
}
.product__info-tab a {
  line-height: 2.5rem;
  display: block;
  width: 100%;
}
.product__info-tab.active {
  background: #ff881a;
}
.product__description {
  width: 100%;
  display: none;
}
.product__description.active {
  display: block;
}
.product__description__title {
  font-size: 1.875rem;
}
.product__description__content {
  font-size: 1.125rem;
  margin-bottom: 40px;
  padding: 20px;
  background: #eee;
}
.product__description__content li {
  display: list-item;
  margin-left: 25px;
}
.hardware {
  width: 100%;
  margin-bottom: 1.25rem;
}
.single .hardware {
  display: none;
}
.hardware.active {
  display: block;
}
.hardware__top-cat__name {
  margin-bottom: 0.4375rem;
  padding-left: 1.25rem;
  background: #eee;
  font-size: 1.25rem;
  line-height: 2.1875rem;
}
.hardware__top-cat__name svg {
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  width: 0.75rem;
  height: 1rem;
}
.hardware__top-cat.active .hardware__top-cat__name svg {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.hardware__top-cat__content {
  padding: 20px 0;
}
.page-template-page-material .hardware__top-cat__content img {
  width: 77px;
  height: 77px;
}
.hardware__tabs {
  padding-left: 1.25rem;
  margin-bottom: 1.25rem;
}
.hardware__tab {
  margin-bottom: 0.3125rem;
  display: block;
  font-size: 1.125rem;
  font-weight: 400;
}
li.active .hardware__tab {
  color: #ff881a;
}
.hardware__item {
  margin-bottom: 0.625rem;
}
.hardware__item__title {
  text-align: center;
  font-weight: 400;
  font-size: 1.125rem;
  margin-top: 2px;
}
.hardware__item__thumb {
  height: 8.75rem;
  width: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hardware__item__thumb img {
  max-height: 100%;
  width: auto;
}
#materials .hardware__item__thumb {
  height: 6.875rem;
  width: 100%;
}
.hardware__pane {
  display: none;
}
.hardware__pane.active {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.product-slider {
  padding: 0 0.625rem;
  margin-bottom: 2.5rem;
}
.product-slider__inner {
  position: relative;
}
.product-slider__content {
  position: relative;
}
.product-slider__slide {
  padding: 0 3.125rem;
}
.product-slider__prev-btn,
.product-slider__next-btn {
  position: absolute;
  top: 50%;
  z-index: 1;
  margin-top: -3.75rem;
  cursor: pointer;
}
.product-slider__prev-btn svg,
.product-slider__next-btn svg {
  width: 2.1875rem;
  height: 5rem;
}
.product-slider__next-btn {
  right: 0;
}
.product-slider__prev-btn {
  left: 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.product-slider .owl-dot {
  background: #eee;
}
.product-slider .owl-dot.active {
  background: #ff881a;
}
.four-o-four__header {
  padding-top: 3.125rem;
  font-size: 6.25rem;
}
.four-o-four__content {
  font-size: 1.875rem;
}
.four-o-four__link {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  display: block;
  margin: 0 auto 3.125rem;
}
.hidden {
  display: none;
}
.scotch-panel-wrapper {
  overflow-y: visible !important;
  height: 100%;
}

/*# sourceMappingURL=main.css.map */