// @font-face {
//     font-family: '*';
//     src: url('*.eot');
//     src: url('*.eot?#iefix') format('embedded-opentype'),
//          url('*.woff2') format('woff2'),
//          url('*.woff') format('woff'),
//          url('*.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;

// }