// Colors



h1,h2,h3,h4,h5,h6,p,ul,ol,li,button,input,strong,small,em
  margin 0
  padding 0
  font-size inherit
  font-weight inherit
  font-style inherit

b
  font-weight inherit

i
  font-style inherit

ul,ol,li
  display block
hr
  border-color lightgray
a
  text-decoration none
  outline: none;
  color darkgray
  text-decoration: none
  // transition color .3s ease-in-out
  &:hover
  &:active
  &:focus
    color lightgray
    text-decoration: none
    outline: none;
  &:link
  &:focus
    outline: none;
    text-decoration: none
  // &:focus
  //   color inherit
p
  margin-bottom 1.5em
button, input, textarea
  border none
  background none
  outline none
  -webkit-appearance: none;
  box-shadow none

html
  font-family sans-serif
  box-sizing border-box
  font-size 16px

*
*:before
*:after
  box-sizing inherit

img
  max-width 100%
  width 100%

body
  font-family: font-sans
  background: #fff
  color darkgray
  -webkit-font-smoothing: antialiased;
  font-size rem(16)


.container
  // overflow hidden
  width rem(1140)
  margin 0 auto
  padding 0 rem(15)
  // width auto!important


.page-title
  text-align center
  font-size: rem(45)
  font-weight: 500
  margin-bottom rem(20)
  font-style: italic

svg
  padding 2px