// Colors
gray1 = #F5F5F5
gray2 = #CFCFCF
gray3 = #9B9B9B
gray4 = #5D5D5D
gray5 = #454545
gray6 = #2D2D2D

orange = #F57723
blue   = #1973BC
light-blue   = #2694EE

// breakpoints vars
xxs = 0
xs  = 400px
sm  = 767px
md  = 991px
lg  = 1199px

font-serif = Lora, Helvetica, Arial, Serif 
font-sans = Roboto, Helvetica, Arial, Sans-serif