// Colors
light-gray = #EEE
dark-gray = #333
orange = #FF881A
orange-alt = #F57723
blue = #1973BC
light-blue   = #2694EE

font-serif = Helvetica, Arial, Serif
font-sans = "Futura PT", Helvetica, Arial, Sans-serif
