// Colors
lightgray = #EEE
darkgray = #333
orange = #FF881A
orange-alt = #FE9636
blue = #1973BC
light-blue   = #2694EE

font-serif = Helvetica, Arial, Serif
font-sans = "Futura PT", Helvetica, Arial, Sans-serif
